.company_whole_style {
  @media (max-width:600px) {
    padding: 10%;
  }
  @media (min-width: 600px) {
    padding-inline: 7%;
    padding-top: 5%;
  }
  color: rgb(253, 253, 253);
  background-color: black;
}

.company_data_style {

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 10px;
    width: 100%;
  }
  @media (min-width: 600px) {
    display: flex;
    border: 1px solid white;
    border-radius: 10px;
  }

  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle, rgb(8, 0, 0), rgb(148, 148, 147));

}

.company_data_info_style1 {
  @media (min-width: 750px) {
    min-width: 65%;
    text-align: center;
    font-size: x-large;
  }

  @media (max-width: 750px) {
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: large;
  }
  padding: 4%;
}

.company_data_info_style2 {
  @media (min-width: 750px) {
    min-width: 65%;
    text-align:  center;
    font-size: x-large;
  }

  @media (max-width: 750px) {
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: large;
  }
  padding: 4%;
}


.company_data_image_style {
  padding: 4%;
}
